/* You can add global styles to this file, and also import other style files */

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

body {
    margin-bottom: 100px;
}

#chat-mensajes {
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
}

.chat-input {
    margin-top: 10px;
}